html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  background-color: black;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerText {
  transition: color 1.5s, text-shadow 1.5s, -webkit-text-stroke-color 1.5s;
  font-size: 60px;
  line-height: 1em;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: default;
  user-select: none;
}

.smallHeaderText {
  transition: color 1.5s, text-shadow 1.5s, -webkit-text-stroke-color 1.5s;
  font-size: 30px;
  line-height: 1em;
  color: rgb(255, 255, 255);
  font-weight: 100;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  margin-bottom: 8px;
}

.smallSubheaderText {
  transition: color 1.5s, text-shadow 1.5s, -webkit-text-stroke-color 1.5s;
  font-size: 16px;
  line-height: 1em;
  color: rgb(135, 135, 135);
  font-weight: 100;
  margin-bottom: 5px;
}

.paragraphText {
  transition: color 1.5s, text-shadow 1.5s, -webkit-text-stroke-color 1.5s;
  font-size: 20px;
  line-height: 1em;
  color: rgb(255, 255, 255);
  font-weight: 100;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  line-height: 2rem;
}

.nameText {
  transition: color .8s, text-shadow .8s, -webkit-text-stroke-color .8s;
  font-size: 120px;
  line-height: .8em;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: default;
  user-select: none;

}

.workInProgress {
  position: absolute;
  color: white;
  text-align: right;
}

.listSection {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 5vh;
  margin-top: 6vh;
  width: 55vw;
}

.listLine {
  display: flex;
  align-items: center;
  align-self: center;
  margin-block: 3vh;
}

.landingSection {
  min-height: 100vh;
  justify-content: space-around;
}

.landingSectionContainer {
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: rgb(255, 255, 255);
  }
}

.border {
  border: solid rgb(0, 30, 255) 4px;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  .nameText {
    font-size: 60px;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  .headerText {
    font-size: 30px;
    line-height: 1em;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
    letter-spacing: .1rem;
  }

  .smallHeaderText {
    font-size: 20px;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  .smallSubheaderText {
    font-size: 12px;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  .paragraphText {
    font-size: 12px;
    line-height: 1.4em;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  .listSection {
    width: 80vw;
    margin-bottom: 3vh;

  }

  .landingSection {
    min-height: 80vh;

  }

  .landingSectionContainer {
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-between;
    /* border: solid rgb(0, 30, 255) 4px; */
  }


  .workInProgress {
    font-size: 20px;
  }



}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .nameText {
    font-size: 60px;
  }

  .paragraphText {
    font-size: 20px;
  }


  .listSection {
    width: 80vw;
  }


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

  .listSection {
    width: 70vw;
  }

  .landingSectionContainer {
    flex-direction: column;
  }
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  .nameText {
    font-size: 100px;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }

  .headerText {
    font-size: 60px;
    line-height: 1em;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }

  .smallHeaderText {
    font-size: 30px;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }

  .smallSubheaderText {
    font-size: 16px;
  }

  .paragraphText {
    font-size: 20px;
    line-height: 1.4em;
  }

  .listSection {
    width: 55vw;
  }

  .landingSection {
    min-height: 95vh;
  }

  .landingSectionContainer {
    flex-direction: row;
    min-height: 0vh;
    justify-content: center;
    /* border: solid rgb(0, 30, 255) 4px; */
  }


}

/* LARGE DESKTOP */
@media only screen and (min-width: 1760px) {
  .nameText {
    font-size: 120px;
  }

  .headerText {
    font-size: 60px;
    line-height: 1em;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }

  .smallHeaderText {
    font-size: 30px;
  }

  .smallSubheaderText {
    font-size: 16px;
  }

  .paragraphText {
    font-size: 20px;
    line-height: 1.4em;
  }

  .listSection {
    width: 55vw;
  }


}