.sectionCollapsed {
    margin-left: 2vw;
    cursor: default;
    /* border: solid white; */
}

.sectionExpanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    transition: all 800ms;
    text-align: center;
}

.hidden {

    font-size: 0px;
    transition: all 800ms;
    text-align: center;
    margin-bottom: 0px;
}

.expanded {

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 800ms;

    font-size: 60px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
    gap: 3vh;
    padding: 2vh 5vh 5vh 5vh;



}

.menuItem {
    cursor: pointer;
    /* border: solid white; */
}


.menuLine {
    background-color: white;
    transition: all 800ms;
    width: 2vw;
    height: 1px;
    margin-bottom: 1vh;
}

.menuLineExpanded {
    background-color: white;
    transition: all 800ms;
    width: 90vw;
    height: 1px;
    margin-bottom: 1vh;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

    .menuLine {
        width: 2vw;
        margin-bottom: 1vh;
    }

    .expanded {
        font-size: 20px;
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    .expanded {
        font-size: 60px;
        text-shadow: 0px 0px 4px rgb(255, 255, 255);
    }
}


/* LARGE DESKTOP */
@media only screen and (min-width: 1760px) {}