.display {
    border: 'solid';
    padding: 10;

    /* border: solid white 4px; */

}

.displayRow {
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.displayItem {
    width: 70px;


    transition: all .8s;
    text-align: center;
    font-size: 60px;
    line-height: 1em;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(12, 12, 12);
    cursor: default;
    user-select: none;


}


.displayItemLit {
    width: 70px;

    text-align: center;
    transition: all .8s;
    font-size: 60px;
    line-height: 1em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: default;
    user-select: none;

}

.border {
    border: 'solid';
    border-color: white;
}