.display {
    border: 'solid';
    padding: 10;

    /* border: solid white 4px; */

}

.displayRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.displayItem {
    width: 65px;

    transition: all .15s;
    text-align: center;
    font-size: 60px;
    line-height: 1em;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(22, 22, 22);
    cursor: default;
    user-select: none;

}


.displayItemLitByCycle {
    width: 65px;

    text-align: center;
    transition: all .1s;
    font-size: 60px;
    line-height: 1em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: default;
    user-select: none;

    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(1080deg) rotateY(0deg) rotateZ(360deg) skew(360deg);

}

.displayItemLitByMouse {
    width: 65px;

    text-align: center;
    transition: all .1s;
    font-size: 60px;
    line-height: 1em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;

    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(360deg) rotateY(0deg) rotateZ(0deg) skew(0deg);

}